body{
    background-color:lightblue;
}

header{
    background-color: white;
    margin: -8px -8px 30px -7px;
    height: 110px;
}

.logoUnivo{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

a:hover{
    color: red;
}

nav{
    margin: -100px 0px 100px 90px;
    font-size: 30px;
    width: 400px;
}
